[Interface]
Address = {{ services_wireguard_address }}
PostUp = {{ services_wireguard_post_up }}
PostDown = {{ services_wireguard_post_down }}
ListenPort = {{ services_wireguard_port }}
PrivateKey = {{ _services_wireguard_private_key }}

{% for peer in services_wireguard_default_peers + services_wireguard_extra_peers %}
{{ peer }}
{% endfor %}
